@use "../../../scss/colors.scss" as *;

.create-todo {
  position: fixed;
  bottom: 35px;

  width: calc(70% - 100px);

  @media (max-width: 800px) {
    width: calc(95% - 0px);
  }

  &__form {
    display: flex;
    gap: 10px;

    > :first-child {
      flex: 1;
    }
    .ui.input {
      > input {
        background-color: $color-dark;
      }
    }

    &-btn {
      /* Estilos para el segundo hijo */
      flex-shrink: 0;
    }
    .ui.primary.button {
      background-color: $color-text;
    }
  }
}
