@use '../../scss/colors.scss' as *;

.register-form{

    &__success{
        color: $success;
        text-align: center;
    }

    &__error {
        color: $error;
        text-align: center;
    }

    &__text{
        text-align: center;
        padding: 10px;
        color: $grey-clear;
    }
}