@use "../../scss/colors.scss" as *;

.content-right {
  padding-top: 20px;
  text-align: center;
  position: relative;
  min-height: 100vh;


  >h1{
    padding: 20px;
  }

  &__create-todo {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    padding: 30px;
  }
}

.dark {
  color: #fff;
}
.button-theme {
  background-color: transparent;
  border: none;
  font-size: 30px;
  position: absolute;
  bottom: 30px;
  left: 10px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  padding: 6px;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-color: $color-to-do;
  }

  &-soon {
    color: $yellow;
  }

  &-moon {
    color: $green;
  }
}
