@use '../../scss/colors.scss' as * ;

.configure-auth {
  &__theme {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;

    > p {
      flex: 1;
    }

    > select {
      flex-shrink: 0;
      border: none;
      text-transform: uppercase;
      

      > option{
        background-color: $color-text;
        color: $background-primary;
      }
    }
  }
}
