$background-primary: #ffffff;
$color-primary: #04323a;
$color-secondary: #e2dad7;
$color-tertiary: #97b2de;
$color-to-do: #f9ece4;



// colors social

$green: #00cccc;
$mar: #001f3f;
$pink: #ff6f99;
$color-dark: #192841;


// colors text

$grey: #333333;
$grey-clear: #a3a5a5;
$color-text: #8e44ad;
$color-link:rgb(0, 149, 246);

// status

$success: #84b84c;
$error: #9f3a38;
$yellow:#f3c707;
